#Creating Symlinks:
ln -s(symbolic)-f(force) /absolute/path/toFILE /absolute/path/toSYMLINK


#Nicely formatted git log graph (hudimar)
git log --oneline --graph --decorate

#Adding previous git log to alias in ~/.gitconfig:
git config --global alias.lg "log --oneline --graph --decorate"
git lg

# git status
git status

